*{margin:0;padding:0;outline:0;font-size:100%;}html{height:100%;padding-bottom:1px;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}a img{border:none;}table{border-collapse:collapse;border-spacing:0;}input[type='button']::-moz-focus-inner{border:0;}

html { background:#121212 url('http://my-cs.ru/images/bg-top.jpg') 50% 0 no-repeat; }
body { min-height:800px; font:12px/1.2 tahoma,arial,sans-serif; color:#c0c0c0; background:url('http://my-cs.ru/images/bg-bot.jpg') 50% 100% no-repeat; }
a { color:#ffa200; }
a:hover, a.js { text-decoration:none; }
a.js { border-bottom:1px dotted #ffa200; }
	a.js:hover { border:none; }

.clear { clear:both; }



#header > div { width:1000px; margin:0 auto; }


#monitor { width:1000px; background:url('http://my-cs.ru/images/monitor-bg.gif') 0 100% repeat-x; margin:-32px auto 0; }
#monitor > div:first-child { float:left; padding:10px 0 10px 10px; background:url('http://my-cs.ru/images/header-bg.png') 0 -61px repeat-x; overflow:hidden; }
#monitor > div:first-child h2 { font-size:18px; font-weight:normal; margin-bottom:6px; }
#monitor > div:first-child ul { float:left; width:155px; }
#monitor > div:first-child ul li { padding:2px 0 1px; }
#monitor > div:first-child ul a { padding:2px 0 1px; }
	#monitor div ul li a.w { color:#fff; }
#monitor > div:first-child .arr { color:#fff; padding-right:12px; background:url('http://my-cs.ru/images/arr.gif') 100% 2px no-repeat; }
#monitor > div:first-child .live { color:#fff; padding-right:32px; background:url('http://my-cs.ru/images/auc-live.gif') 100% 4px no-repeat; }
#monitor > ul { float:left; width:190px; background:url('http://my-cs.ru/images/header-bg-auc.png') no-repeat; overflow:hidden; }
#monitor > ul li { padding:5px 5px 5px 10px; background:url('http://my-cs.ru/images/2.png'); white-space:nowrap; overflow:hidden; }
#monitor > ul li:first-child { margin-bottom:1px; padding:12px 10px 3px 10px; }
#monitor > ul li > .img { float:left; width:51px; height:39px; background:url('http://my-cs.ru/images/noimage-auc.jpg') 50% 0 no-repeat; margin:0 4px 2px 0; position:relative; }
#monitor > ul li > .img img { width:51px; }
#monitor > ul li > .img div { position:absolute; top:1px; left:1px; }
#monitor > ul li > .img div img { float:left; width:11px; margin-right:1px; display:none; }
#monitor > ul li > .img.cs16 div img:first-child { display:block; opacity:.8; }
#monitor > ul li > .img.source div img:first-child { display:block; opacity:.8; }
#monitor > ul li > .img.cz div img:first-child { display:block; opacity:.8; }
#monitor > ul li > .img.steam div img:first-child + img { display:block; opacity:.9; }
#monitor > ul li > .stats { float:left; color:#c3ba9a; white-space:nowrap; overflow:hidden; width:115px; }
#monitor > ul li > .stats p { padding:3px 0 2px; overflow:hidden; }
#monitor > ul li > .stats a { font-size:12px; }
#monitor > ul li > .stats span { font-size:12px; color:#ffa200; }
#monitor > ul li > p { clear:both; width:100%; font-size:12px; color:#c7c4ad; white-space:nowrap; margin-bottom:2px; overflow:hidden; }
	#monitor > ul li > p a.s { color:#c7c4ad; text-decoration:none; }
		#monitor > ul li > p a.s:hover { color:#fff; }

#monitor > ul + div { float:none; padding:10px; background:url('http://my-cs.ru/images/header-bg.png') 0 -61px repeat-x; overflow:hidden; }
#monitor > ul + div div { margin-bottom:2px; }
#monitor > ul + div a { font-size:11px; color:#c0c0c0; margin-left:8px; }
#monitor > ul + div a:first-child { margin-left:1px; }
#monitor > ul + div p { margin-top:0; }



.w { color:#fff; }
.hs { border-bottom:1px dotted #404040; margin:10px 0; }
.spinner { display:inline-block; width:1px; height:16px; vertical-align:middle; }
	.spinner-on, #index td .spinner, #item h1 .spinner { width:16px; background:url('http://my-cs.ru/images/spinner.gif') no-repeat; }
.pager { text-align:center; margin:10px 0; }
	.pager a { border:1px solid #444; border-radius:3px; background:#333; padding:2px 7px; text-decoration:none; font-weight:bold; color:#cccccc; margin:0 2px 0 0; }
		.pager a:hover { color:#fff; border:1px solid #555; background:#222; }
	.pager strong { border:1px solid #e48700; border-radius:3px; background:#b66c00; padding:2px 7px; color:#fff; margin:0 2px 0 0; }
.hidden { display:none; }

#menu2 { overflow:hidden; margin:20px auto; width:720px; }
    #menu2 li { float:left; margin:0 20px 0 0; background:#191919; padding:5px 10px 7px 10px; border-radius:3px; }