* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    max-width: 190px;
}

body {
    overflow: hidden;
}

div#frame {
    margin: 1px;
    max-width: 188px;
    overflow: hidden;
    min-width: 188px;
}

div.name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

a {
    color: #aaa;
    font-size: 12px;
}

div.players,
div.map,
div.address,
div.status,
div.steam {
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
}

div.playersBlock {
    color: #aaa;
    font-size: 10px;
}

div.playersBlock ol {
    padding-left: 2em;
    height: 100px;
    overflow: auto;
}

span.score {
    float: right;
    margin-right: 1em;
}

div.map {
    position: relative;
    width: 186px;
    height: 120px;
    border:1px solid #898989;
    background-repeat: no-repeat;
    background-size: cover;
}

div.mapName {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    background-color: white;
    width: 176px;
    padding: 1em 5px;
    color: black;
    overflow: hidden;
}