.logo_stat{
	background: #000000 url(/images/menubg.gif) repeat-x 0px 0px;
	border-bottom: 1px solid #717171;
	height: 41px;
	padding: 0;
	
}





.first {padding:0!important;}



.li_stat *, .li_stat {
	color: #00AEEF;
}

.li_stat a {
	color: #68C2E3;
}

.li_stat a:hover {
	color: #EEEEEE;
}
div.hint {
	font-size: 10px;
	color: #FFFFFF;
	line-height:14px;
}