* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #444;
    color: #d2d5d9;
    font-family: Verdana, Tahoma sans-serif;
    font-size: 11px;
    border: 1px solid #4F4F4F;
    box-shadow: 0 0 23px #000;
    margin: 0 auto;
}

h2 {
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.scrollTop {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    background: url('/images/img/arrows2.png') 0 0 no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px 15px 15px 5px;
}

.scrollTop:hover {
    background-position: 0 -58px;
}

div.mapping {
    margin-top: -5px;
    width: 30%;
    height: 20px;
    float: left;
    color: #789ABF;
    text-decoration: none;
    margin-bottom: 1px;
    overflow: hidden;
}

div.faq2 {
    font-size: 17px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

a.st img {
    border: solid 1px #4F4F4F;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 4px #4F4F4F;
}

.infoadd {
    border: 1px solid #6F6F6F;
    background: #333;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

.info1 {
    border: 1px solid #717171;
    background: #222;
    color: #AAA;
    margin: 1px;
    padding: 1px;
}

.info2 {
    border: 1px solid #717171;
    background: #222;
    color: red;
    margin: 1px;
    padding: 1px;
}

.sort {
    background: #393939 url('/images/img/sort_bg.gif') repeat-x 0 0;
}

b {
    text-shadow: 1px 1px 1px #000;
}

ul.sort_nav {
    list-style: none;
    height: 20px;
    font-size: 11px;
    width: 100%;
    margin: 0 auto;
}

ul.sort_nav li {
    float: left;
    line-height: 20px;
    display: block;
    padding: 0 0 0 1em;
    cursor: pointer;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #AAA;
    font-family: Verdana, Tahoma sans-serif;
    text-decoration: underline;
}

input,
textarea,
select {
    font-size: 12px;
    display: inline-block;
    outline: none;
    border: 1px solid #383838;
    color: #B7B7B7;
    background: #292929;
    padding: 6px;
    text-align: center;
}

input[type=text] {
    text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 1px 4px;
}

input:focus, textarea:focus, select:focus {
    outline: 0;
    background-color: #343434;
    color: #f8f8f8;
    border-color: #4F4F4F;
}

#header {
    width: 100%;
}

#header #header_stat {
    background: black url('/images/img/header_stat_bg.png') repeat-x 0 0;
    border-bottom: 1px solid #222;
    height: 41px;
    padding: 0;
}

#header #header_stat a#header_stat_logo {
    display: block;
    float: left;
    height: 41px;
    width: 150px;
    background: url('/images/img/header_stat_logo.png') center center no-repeat;
    margin: 0 2px;
}

#header #header_stat #header_stat_main {
    height: 41px;
    color: #898989;
}

#header #header_stat #header_stat_main div#stats {
    margin-top: 5px;
    float: left;
}

#header #header_stat #header_stat_main #header_stat_search {
    float: right;
    margin: 6px 20px 0 0;
}

#header #header_stat #header_stat_main #header_stat_search input {
    width: 149px;
    height: 18px;
    color: #FFF;
    background: #555;
    font-size: 11px;
    font-family: Verdana, Tahoma sans-serif;
    font-style: oblique;
    border: 1px solid white;
    padding: 2px;
}

#header #banners_area {
    padding: 45px 40px;
}

#header div#horizontal_menu {
    height: 35px;
    background: #292929 url('/images/img/hmenu.jpg') top repeat-x;
}

#header div#horizontal_menu ul {
    height: 37px;
    margin: 0 auto;
}

#header div#horizontal_menu ul li {
    height: 37px;
    line-height: 37px;
    float: left;
    list-style: none;
    border-left: 1px solid #292929;
    border-right: 1px solid #555;
}

#header div#horizontal_menu ul li a:hover {
    background: linear-gradient(to bottom, #0d0d0d 20%,#4f4f4f 40%,#4f4f4f 45%,#4f4f4f 50%,#4f4f4f 55%,#4f4f4f 60%,#1b1b1b 80%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: background .2s linear;
}

#header div#horizontal_menu ul :first-child {
    border-left: 0;
}

#header div#horizontal_menu ul li a {
    color: #c8c8c8;
    display: block;
    text-decoration: none;
    transition: color .2s ease;
    padding: 0 1em;
    cursor: url("/images/cursor.png");
}

#header div#horizontal_menu ul li.important a {
    font-weight: 700;
    color: #EBCACD;
}

#header div#sort {
    height: 17px;
    background: url('/images/img/sort_bg.png') top repeat-x;
    border-bottom: 1px solid #000;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header div#sort ul {
    height: 17px;
    float: left;
    position: relative;
    left: 50%;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

#header div#sort ul li {
    height: 17px;
    line-height: 17px;
    float: left;
    list-style: none;
    position: relative;
    right: 50%;
}

#header div#sort ul li a {
    color: #888;
    text-decoration: none;
    padding: 0 13px;
}

#header div#top_servers div.unit {
    width: calc(20% - 2em);
    color: #C7914C;
    font-size: 11px;
    float: left;
    display: block;
    padding: 1em;
}

#header div#top_servers div.unit div.map_section {
    float: left;
    height: 75px;
    overflow: hidden;
    opacity: 0.9;
    width: calc(50% - 2px);
    border: 1px solid #898989;
}

#header div#top_servers div.unit div.map_section a {
    display: block;
    width: 100%;
    height: 100%;
}

#header div#top_servers div.unit div.map_section a img {
    width: 100%;
    height: 100%;
}

#header div#top_servers div.unit div.info_section {
    width: calc(50% - 1em);
    height: 75px;
    float: left;
    overflow: hidden;
    padding-left: 1em;
}

#header div#top_servers div.unit div.info_section span.title {
    color: #ccc;
    margin-top: 0.5em;
    display: block;
    width: 100%;
}

#header div#top_servers div.unit div.adress_section {
    margin-top: 1px;
    width: 100%;
    float: left;
    margin-bottom: 2px;
    overflow: hidden;
}

#header div#top_servers .top_zebra_1 {
    background-color: #242424;
    padding: 10px 0;
    width: 100%;
}

#header div#top_servers .top_zebra_2 {
    background-color: #292929;
    padding: 10px 0;
}

#main table.servers {
    width: 100%;
    border-bottom: 1px solid #717171;
    border-collapse: collapse;
}

#main table.servers thead {
    background: url('/images/img/s_bg.jpg') top repeat-x;
    height: 30px;
    border-bottom: 1px solid #4F4F4F;
}

#main table.servers thead th {
    font-weight: 400;
    font-size: large;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#main table.servers tbody tr {
    background-color: #232323;
    border-top: 1px solid #4F4F4F;
}

#main table.servers tbody :first-child {
    border-top: 0;
}

#main table.servers tbody tr td {
    color: #CCC;
    font-size: 11px;
    height: 29px;
    line-height: 29px;
    vertical-align: middle;
}

#main table.servers tbody tr td a:link,
#main table.servers tbody tr td a:visited,
#main table.servers tbody tr td a:active,
#main table.servers tbody tr td a:hover {
    color: #fff;
}

#main table.servers tbody tr td a.map {
    color: #789ABF;
    text-decoration: none;
}

#main table.servers tbody tr td a.name {
    color: #F0F0F0;
    text-decoration: none;
}

#main table.servers tbody tr:hover td {
    background-color: #343434;
}

#main table.servers tbody tr td.noservincat {
    font-size: 15px;
    background-color: #232323;
    height: 100px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: none;
}

#footer {
    border-top: 1px solid #505050;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    margin-top: -1px;
    padding-bottom: 4px;
    background: url('/images/img/footer.jpg');
    box-shadow: 0 0 20px #191919;
}

.horizontal_line {
    text-align: center;
    background: url('/images/img/s_bg.jpg');
    font-weight: 700;
    vertical-align: middle;
    border-bottom: 1px solid #444;
    border-top: 1px solid #505050;
    line-height: 20px;
    height: 28px;
}

span.servers_online {
    color: #BBB;
}

div.clearfix {
    clear: both;
}

div.cont {
    background: #232323;
    padding-bottom: 10px;
    border-bottom: 2px solid #717171;
}

div.cont-pay {
    background: #232323;
    padding-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid #4F4F4F;
}

div.listingvip {
    color: #CDCDCD;
    line-height: 18px;
    border-bottom: 1px solid #4F4F4F;

}

div.listingvip a {
    color: #1584C4;

}

div.listingtop {
    color: #C7914C;

}

div.listingtop a {
    color: #1584C4;

}

div.listingcolor {
    line-height: 18px;

}

div.title {
    font-size: 15px;
    color: #989898;
    padding-bottom: 5px;
}

div.hint {
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #FFF;
}

span.online {
    color: #6E8D4C;
    font-weight: 700;
}

span.offline {
    color: #B53333;
    font-weight: 700;
}

span.banned {
    color: #747494;
    font-weight: 700;
}

div.searchform {
    text-align: left;
    padding: 5px 0 0 20px;
}

div.searchform td {
    padding-top: 5px;
    padding-right: 7px;
    text-align: left;
    vertical-align: top;
}

input.searchfield {
    width: 500px;
}

.pagination {
    color: #666;
    border: 0;
}

.pagination a:link, .pagination a:visited, .pagination a:hover, .pagination a:active {
    text-decoration: none;
    color: #CCC;
    background: #333;
    border: 1px solid #4F4F4F;
    font-size: 11px;
    padding: 3px 6px;
}

.pagination a:hover {
    background: #4A8BD3;
    color: #FFF;
    border-color: #4F4F4F;
}

.pagination span {
    text-decoration: none;
    background: #666;
    border: 1px solid #4F4F4F;
    color: #FFF;
    font-size: 11px;
    padding: 3px 6px;
}

.load_green {
    background: url('/images/img/server_page/load_green.gif') left 0 no-repeat !important;
}

.load_yellow {
    background: url('/images/img/server_page/load_yellow.gif') left 0 no-repeat !important;
}

.load_red {
    background: url('/images/img/server_page/load_red.gif') left 0 no-repeat !important;
}

div.block {
    padding: 8px 5px 5px 60px;
}

div.block div.t {
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 5px;
}

div.load_bar {
    background: url('/images/la_icons/la5.gif') 10px 5px no-repeat;
    background-size: 40px 40px;
}

div.players {
    background: url('/images/img/server_page/players.png') 10px 5px no-repeat;
}

div.address {
    background: url('/images/img/server_page/address.png') 10px 5px no-repeat;
}

div.mode {
    background: url('/images/img/server_page/game1.png') 10px 5px no-repeat;
}

div.site {
    background: url('/images/img/server_page/site.png') 10px 5px no-repeat;
}

div.votes {
    background: url('/images/img/server_page/votes.png') 10px 5px no-repeat;
}

div.map {
    background: url('/images/img/server_page/map.png') 10px 5px no-repeat;
}

div.block_line {
    line-height: 12px;
    background: #1E1E1E;
    border: 1px solid #444;
    margin: 4px;
    padding: 5px;
}

div.map_img {
    text-align: center;
}

div.server_info div {
    float: left;
}

div.server_info td.title {
    color: #F3F3F3;
    font-weight: 700;
}

div.server_comments {
    padding-top: 5px;
    border-bottom: 1px solid #4b4b4b;
}

div.comment {
    font-size: 10px;
    color: #E1E1E1;
    border-top: 1px solid #4b4b4b;
    padding: 11px;
}

div.comment:hover {
    background-color: #262626;
}

div.comment div.comment_text {
    color: #E1E1E1;
    font-size: 10px;
    padding-bottom: 4px;
}

div.comment span.name {
    font-weight: 700;
    color: #1B8AE0;
}

.posttime {
    font-size: 10px;
    color: #CCC;
    float: left;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.negative_post {
    font-size: 10px;
    color: #993336;
    float: right;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.positive_post {
    font-size: 10px;
    color: #618570;
    float: right;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.box_rounded {
    border: 1px solid #444;
    background-color: #1E1E1E;
    padding: 5px;
}

.vindex5 {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 17px;
    background: #1E1E1E;
    border: 1px solid #444;
    padding: 12px;
}

.box_rounded .box_title {
    font-size: 120%;
    font-weight: 700;
    color: #EEE;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 4px;
}

.voteup {
    display: inline-block;
    height: 19px;
    width: 9px;
    background: url('/images/img/arrow_up.gif') top no-repeat;
    vertical-align: middle;
    opacity: 0.8;
}

.votedown {
    display: inline-block;
    height: 19px;
    width: 9px;
    background: url('/images/img/arrow_down.gif') top no-repeat;
    vertical-align: middle;
    opacity: 0.7;
}

.warning-red {
    text-align: left;
    color: #D3202E;
    border: 1px solid red;
    background: #000;
    margin: 1px;
    padding: 1px;
}

.warning-greennn {
    width: 998px;
    text-align: left;
    padding-left: 5px;
    color: #2bcb2b;
    border: 1px solid #2bcb2b;
    background: #000;
}

.warning-redd {
    text-align: left;
    color: #D3202E;
    border: 2px solid #D3202E;
    background: #232323;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.warning-yellow {
    text-align: left;
    color: #FF0;
    border: 2px solid #FF0;
    background: #232323;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.warning-green {
    text-align: left;
    color: #2bcb2b;
    border: 2px solid #2bcb2b;
    background: #232323;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.warning-blue {
    text-align: left;
    color: #789ABF;
    border: 2px solid #789ABF;
    background: #232323;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

table.editform,
table.regform {
    width: 100%;
}

.editform td,
.regform td {
    font-family: verdana, helvetica, sans-serif;
    font-size: 11px;
    border-bottom: 0;
    border-left: 0;
    width: 25%;
    margin: 1px 0 0;
    padding: 6px;
}

.msg {
    background: #444;
    border-bottom: 1px solid #717171;
    color: #FFF;
    font-size: 17px;
    text-align: center;
    padding: 20px;
}

.redbg {
    background: #6E2828;
}

.greenbg {
    background: #3A4337;
    vertical-align: middle;
    opacity: 0.8;
}

.modmenu ul li a:hover,
#header div#sort ul li a:hover {
    text-decoration: underline;
}

a:hover,
a:active,
#header div#horizontal_menu ul li a:hover {
    color: #1584C4;
}

#main table.servers tbody tr td a.map:hover,
#main table.servers tbody tr td a.name:hover {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.li_stat *,
.li_stat,
span.blue {
    color: #00AEEF;
}

.li_stat a,
span.blue a:link,
span.blue a:visited {
    color: #68C2E3;
}

.li_stat a:hover,
span.blue a:hover,
span.blue a:active {
    color: #EEE;
}

div.block_line_small,
.block_line_small a {
    font-size: 9px;
}

td.mode, td.map,
td.players,
td.votes {
    text-align: center;
}

img.game {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
    opacity: 0.8;
}

img.location {
    width: 16px;
    height: 11px;
    opacity: 0.8;
}

span.la {
    margin-right: 1em;
}

.wrapper {
    min-height: 100% !important;
    height: auto;
    width: 100%;
}

span.icon {
    display: none;
    position: absolute;
    width: 160px;
    height: 120px;
}

td.map:hover span.icon {
    display: block;
}

#top_servers {
    width: 100%;
}

ol, ul {
    margin: 0 1em;
}
