.color1 {
	background: #413B25;
}

.color2 {
	background: #553A1E;
}

.color3 {
	background:#284F42;
}

.color4 {
	background: #4C5866;
}

.color5 {
	background: #2F4F4F;
}

.color6 {
	background: #505050;
}

.color7 {
	background: #003153;
}

.color8 {
	background: #5A2F54;
}

.color9 {
	background: #6E2828;
}

span.topcolor1 {
	background: #FF0000;
	color: #FFFFFF;
	font-weight: bold;
	display: inline-block;
}

span.topcolor2 {
	background: #6600FF;
	color: #FFFFFF;
	font-weight: bold;
	display: inline-block;
}

span.topcolor3 {
	background: #ffff00;
	color: #222222;
	font-weight: bold;
	display: inline-block;
}

span.topcolor4 {
	background: #ffa500;
	color: #222222;
	font-weight: bold;
	display: inline-block;
}

span.topcolor5 {
	background: #00f3ff;
	color: #222222;
	font-weight: bold;
	display: inline-block;
}

span.topcolor6 {
	background: #ff00f2;
	color: #222222;
	font-weight: bold;
	display: inline-block;
}

span.topcolor7 {
	background: #66ff00;
	color: #222222;
	font-weight: bold;
	display: inline-block;
}