<?php
$db_host = "localhost";
$db_user = "monitoring";
$db_pass = "monitoring";
$db_name = "monitoring";
$db_prefix = "mon_";
define("DB_PREFIX", $db_prefix);
if (!defined('_SAPE_USER')) {
    define('_SAPE_USER', '111111111111111111111111111111');
}
$config = array(
 'mysql' => array(
  'host' => $db_host,
  'database' => $db_name,
  'user' => $db_user,
  'password' => $db_pass,
  'charset' => 'utf8',
  'prefix' => $db_prefix,
  ),
);
